---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class="h-screen flex flex-col justify-center items-center">
	<h1 class="text-5xl font-bold mb-6">Authentication in Astro via Lucia Auth</h1>
	<div class="flex gap-4 items-center">
	<a href="/admin" class="text-blue-700">admin</a>
	<a href="/admin/login" class="text-blue-700">Login</a>
	<a href="/admin/register" class="text-blue-700">Register</a>
</div>
	</main>
</Layout>

